@charset "UTF-8";
body,
p,
a {
  font-family: "Averta", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

h1 {
  font-weight: 600;
  font-style: normal;
  font-size: 2.23rem;
  color: #34383f;
  line-height: 1.4;
}

h2 {
  font-family: "Bogart", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: center;
  font-weight: 600;
  font-style: normal;
  font-size: 2.6rem;
}

h3,
h4 {
  font-family: "Averta", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 1.6rem;
  color: #000;
}

.wg-header {
  padding: 10px;
}

.wg-footer {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  color: #0b2944;
  font-size: 1.5rem;
  text-align: center;
}

.bloglink {
  width: 100%;
  background-color: rgb(60, 201, 60);
  padding: 1px;
  text-decoration: underline;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 1rem !important;
}

.bloglink h1 {
  color: #ffffff;
}

.bloglink p {
  color: #ffffff;
  font-size: 1.8rem;
}

.social-icons {
  font-size: 3rem;
}

header {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "top-left burger" "divider divider" "sub sub";
  -moz-column-gap: 10px;
       column-gap: 10px;
}
header .logo::before {
  font-family: "rover-icons";
  content: "\e96b";
  color: #00bd70;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  margin-inline-start: 10px;
  grid-area: top-left;
}

.hamburger-1 {
  display: flex;
  border: 1px solid #ccc;
  height: 35px;
  width: 45px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-right: 15px;
  grid-area: burger;
  justify-content: flex-end;
  justify-self: flex-end;
  justify-items: end;
}

.nav-button,
.nav-button::before,
.nav-button::after {
  background-color: #04985a;
  position: absolute;
  height: 2px;
  width: 23px;
}

.nav-button::before {
  content: "";
  margin-top: -6px;
}

.nav-button::after {
  content: "";
  margin-top: 6px;
}

#toggle-2 {
  display: none;
}

#toggle-2:checked ~ .main-menu {
  height: 270px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  margin-block-start: 20px;
  margin: 0px;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: left;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: -3;
  transition: all 0.3s ease;
  grid-area: sub;
}

.left-menu {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 0;
}

.right-menu {
  display: flex;
  flex-direction: column;
}

.item {
  padding-top: 1.8rem;
}

.signup {
  padding-top: 1.6rem;
}

.signin {
  padding-top: 0.4rem;
}

.lang-wrap {
  position: absolute;
  margin-block-start: 0;
  margin-right: 30px;
  margin-bottom: 110px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 8px;
  height: 58px;
  grid-area: burger;
  justify-self: end;
  width: 130px;
}

.lang-wrap:active,
.lang-wrap:hover {
  background: #eeeeee;
}

.lang::before {
  content: "English (UK) ";
  font-size: 1.4rem;
  text-decoration: underline;
  cursor: pointer;
}

.lang:after {
  content: "▾";
  position: relative;
  top: 5px;
  margin-left: -5px;
  font-size: 2.2rem;
}

.lang-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  top: 14px;
  left: -50px;
  margin: 0;
  padding: 15px;
  list-style: none;
  text-align: left;
  width: 164px;
  display: none;
}

.lang-menu a {
  margin-bottom: 12px;
  font-size: 1.4rem;
  font-weight: 400;
}

#toggle-1 {
  display: none;
}

#toggle-1:checked ~ .lang-menu {
  display: inline-flex;
  background-color: #fff;
  height: 289px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.content {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button {
  background-color: #2e67d1;
  width: 96%;
  border-radius: 50px 50px 50px 50px;
  border-color: transparent;
  height: 48px;
  color: #fff;
  margin-block-start: 0;
  font-weight: 600;
}

.action-button:hover {
  background-color: #2d5cb1;
}

.search button {
  background-color: #2e67d1;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  width: 300px;
  height: 70px;
  border: transparent;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
}

.search button:hover {
  background-color: #2d5cb1;
}

.formContainer {
  max-width: 1142px;
  margin: auto;
  padding-top: 22px;
}

.roverForm {
  width: 80%;
  margin: auto;
}

.roverForm label {
  font-size: 1.4rem;
}

.roverForm .rover-icons {
  font-size: 1.8rem;
}

.formTitle {
  display: flex;
  margin-inline-start: 0;
  padding: 15px 0 10px 30px;
  background-color: #f4f5f6;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.4rem;
  font-weight: 600;
}

.formTitle input[type=checkbox] {
  visibility: hidden;
}

.formTitleChk {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #404347;
  font-weight: normal;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid #c9cfd4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.formTitleChk:hover input ~ .checkmark {
  border: 2px solid #404347;
}

.formTitleChk input:checked ~ .checkmark {
  background-color: #404347;
  border: 2px solid #404347;
}

/* the checkmark (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.formTitleChk input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.formTitleChk .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 3px 0;
  transform: rotate(45deg);
}

.formContentContainer {
  padding: 10px 30px;
  background-color: #fff;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.lbsRow {
  display: flex;
  justify-content: space-between;
}

.searchOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 10px;
  margin-block-end: 15px;
}

.roverButton {
  background-color: transparent;
  font-size: 1.5rem;
  border: 2px solid #c9cfd4;
  color: #62686e;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  line-height: 2.5rem;
}

.formLine-1 .roverButton {
  display: flex;
  flex-direction: column;
  white-space: normal;
  height: 70px;
  text-align: center;
  width: 155px;
}

.formLine-2 .roverButton {
  word-break: break-all;
  white-space: normal;
  width: 31%;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url("images/calendar-icon.png");
  width: 30px;
  height: 30px;
}

.formLine-2 .rover-icon-in-arrow-right {
  font-size: 1.2rem;
  color: #c9cfd4;
}

.arrow {
  margin-top: 15px;
}

.formLine-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
}

.formLine-3 .roverButton {
  display: flex;
  flex-direction: column;
  white-space: normal;
  height: 70px;
  justify-items: center;
  align-items: center;
  width: 120px;
}

.roverButton:hover {
  border: 2px solid #404347;
  color: #1f212b;
}

.formContentContainer input[type=checkbox]:checked ~ label {
  border: 2px solid #404347;
  color: #1f212b;
}

.formContentContainer input[type=checkbox] {
  display: none;
}

.lblAll {
  font-size: 1.4rem;
  font-weight: bold;
}

.choices {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.rspca {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.content-wrap {
  inline-size: 90vw;
  max-inline-size: 1142px;
  margin: auto;
}

.services {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-block-start: 120px;
  inline-size: 90vw;
  max-inline-size: 1142px;
  margin: auto;
}

.happy-clients {
  display: none;
  gap: 30px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  margin-block-end: 35px;
}
.happy-clients img {
  width: 45vw;
  align-items: center;
}

.services-wrap {
  display: flex;
  flex-direction: row;
}

.service-cards {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-inline-start: 0;
  margin-inline-end: 40px;
}
.service-cards h3 {
  font-weight: normal;
  color: #000000;
}
.service-cards p {
  color: #1f2124;
}
.service-cards .card-details {
  margin-inline-start: 12px;
}
.service-cards img {
  margin-inline-start: 7px;
}

.card {
  display: flex;
}
.card img {
  width: 50px;
  height: -moz-fit-content;
  height: fit-content;
}
.card p {
  margin-block-start: -12px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #2f3235;
  font-weight: 400;
}

.card:not(:nth-child(1)) {
  margin-block-start: 19px;
}

.card-details {
  margin-inline-start: 14px;
}

.services-notice {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.notice {
  outline: 1px solid #cfd7de;
  border-radius: 3px;
}
.notice ul {
  list-style-type: disc;
  margin-block-start: 25px;
  margin-inline-start: 45px;
  margin-inline-end: 40px;
}
.notice li {
  line-height: 32px;
}
.notice .action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
  margin: auto;
  margin-block-end: 20px;
}

.headingIcon {
  position: relative;
  width: 30px;
  height: 30px;
  top: -10px;
  margin-right: 10px;
}
.headingIcon img {
  width: 30px;
  height: 30px;
}

.notice-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #f4f5f6;
  padding-top: 15px;
}

.notice-content-container {
  border-top: 1px solid #cfd7de;
  margin: auto;
}
.notice-content-container li {
  list-style: none;
}
.notice-content-container li::before {
  font-family: "rover-icons";
  content: "\e912";
  color: #00bd70;
  font-size: 1.3rem;
  margin-inline-start: -20px;
  padding-right: 10px;
}

.note {
  font-size: 1.4rem;
  text-align: center;
  margin-block-start: 20px;
}
.note a {
  color: #506cd1;
  text-decoration: underline;
  font-weight: bold;
}

.testimonials {
  padding-block-start: 170px;
  border-bottom: 0;
}

.testimonial-wrap {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.testimonial-photo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 370px;
  overflow: hidden;
}

.quote-wrap {
  position: relative;
  width: 65%;
  background-color: #fff;
  border: 1px solid #cfd7de;
  border-radius: 5px;
  margin-inline-start: 30px;
  margin-block-start: -110px;
}

blockquote {
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  margin-block-start: 23px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #1f2124;
}

cite::before {
  content: " - ";
}

cite {
  font-style: normal;
  font-size: 2.6rem;
  font-weight: bold;
  color: #66727c;
}

.sitters {
  padding-block-start: 60px;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}
.sitters a {
  color: #506cd1;
  text-decoration: underline;
  font-weight: bold;
}
.sitters .deco-number {
  display: grid;
  width: 85vw;
  max-width: 1100px;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-block-start: 30px;
  margin-block-end: 30px;
  grid-template-areas: "one two three";
}
.sitters .num {
  position: relative;
  text-align: center;
  font-size: 1.3rem;
  height: 30px;
  width: 30px;
  padding: 4px;
  border: 1px solid #cfd7de;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}
.sitters .numline:after {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px solid #cfd7de;
  width: 720px;
  z-index: 0;
  top: 50%;
  left: 30px;
}

.sitter-cards {
  display: flex;
  align-items: flex-start;
}
.sitter-cards .card {
  flex-direction: column;
  justify-content: flex-start;
  justify-self: flex-start;
  margin-block-start: 0;
  margin-block-end: 0;
}
.sitter-cards .card-details {
  text-align: center;
}
.sitter-cards img {
  width: 80px;
  height: 100px;
  padding-bottom: 20px;
  margin: auto;
}
.sitter-cards .relax img {
  width: 70px;
}

.roverApp {
  padding-block-start: 65px;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  text-align: center;
}
.roverApp .roverimg {
  padding-top: 40px;
  padding-bottom: 25px;
}
.roverApp p {
  font-weight: bold;
  color: #3b3838;
}
.roverApp .app-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.roverApp .app-logo img {
  width: 175px;
  padding: 10px;
}

.locations-wrap {
  padding-block-start: 30px;
  padding-block-end: 40px;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  margin: 0;
  background-color: #40484f;
  color: #f4f5f6;
  font-size: 1.5rem;
}
.locations-wrap h2 {
  font-family: "Averta", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: left;
}
.locations-wrap .locations a {
  line-height: 2.1rem;
}
.locations-wrap .UK ul {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-template-rows: repeat(3, max-content);
  grid-auto-flow: column;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.locations-wrap .ROW ul {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  grid-template-rows: repeat(2, max-content);
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.locations-wrap .ROW .col-list-location {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  padding-block-end: 5px;
  background-color: #f4f5f6;
  padding-block-start: 30px;
  padding-block-end: 40px;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  margin: 0;
  padding-block-end: 0;
}
.footer-wrap .foot-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-wrap .foot-wrap h2,
.footer-wrap .foot-wrap a {
  line-height: 2.1rem;
}
.footer-wrap .rover-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
.footer-wrap h2 {
  font-family: "Averta", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: left;
  font-size: 2rem;
}
.footer-wrap ul {
  font-size: 1.4rem;
  color: #54595e;
  font-weight: bold;
}
.footer-wrap .about-rover ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, max-content);
  grid-auto-flow: column;
  justify-content: space-between;
}
.footer-wrap .socials {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.8rem;
}
.footer-wrap input {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #cfd7de;
  font-size: 1.4rem;
  width: 220px;
}
.footer-wrap .button {
  background-color: #1f2124;
  color: #f4f5f6;
  font-size: 1.4rem;
  font-weight: bold;
  width: 90px;
  padding: 8px;
  border-radius: 20px;
  border: #62686e;
  margin-left: 10px;
}
.footer-wrap .disclaimer {
  color: #54595e;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-wrap .disclaimer a {
  text-decoration: underline;
}
.footer-wrap .footnote {
  font-size: 1.3rem;
}

@media only screen and (min-width: 1200px) {
  header {
    max-width: 1142px;
  }
  .testimonials {
    inline-size: 90vw;
    max-inline-size: 1142px;
    margin: auto;
  }
}
@media (max-width: 1199px) {
  header {
    max-width: 970px;
    margin: auto;
  }
  .testimonial-wrap {
    max-width: 950px;
    flex-direction: row;
    gap: 30px;
    margin: auto;
  }
  .testimonial-photo {
    height: 350px;
  }
  .locations-wrap .ROW ul {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .footer .foot-wrap {
    justify-content: space-between;
  }
  .footer .rover-wrap {
    justify-content: space-between;
    width: 55%;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1198px) {
  .formLine-1 .roverButton {
    width: 140px;
  }
  .formLine-3 .roverButton {
    width: 110px;
  }
  .formLine-3 .button {
    width: 250px;
  }
}
@media only screen and (max-width: 992px) {
  .testimonial-wrap {
    max-width: 730px;
    flex-direction: column;
    gap: 0;
    margin: auto;
  }
  .testimonial-photo {
    height: 280px;
  }
  .quote-wrap {
    width: auto;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    margin-inline-start: 0;
    margin-block-start: 0;
  }
  .deco {
    background-color: #04985a;
    height: 0.14rem;
    width: 40px;
    margin-bottom: 25px;
  }
  cite::before {
    content: "";
  }
  cite {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 770px) and (max-width: 992px) {
  .lang::before {
    content: "(EN) ";
  }
  header {
    max-width: 770px;
  }
  .item-services {
    display: none;
  }
  .formLine-1 .roverButton {
    width: 110px;
    height: 90px;
  }
  .formLine-3 .roverButton {
    width: 110px;
  }
  .formLine-3 .searchOptions {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .formLine-3 .roverButton {
    width: 135px;
    justify-content: center;
  }
  .formLine-3 .search {
    margin-top: 10px;
  }
  cite::before {
    content: " - ";
  }
  cite {
    font-size: 2.6rem;
    font-weight: bold;
  }
  .quote-wrap {
    border: 1px solid #cfd7de;
  }
  .locations-wrap .UK ul {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(4, max-content);
    grid-auto-flow: column;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .locations-wrap .ROW ul {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
  .footer .foot-wrap {
    flex-direction: column;
  }
  .footer .rover-wrap {
    flex-direction: row;
    width: 75%;
  }
  .footer .socials {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 3rem;
  }
  .footer .social-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
  }
  .footer .footnote {
    font-size: 1.2rem;
    text-align: center;
  }
}
@media (min-width: 770px) {
  .hamburger-1 {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 140px 1fr 150px;
    grid-template-rows: 1fr;
    grid-template-areas: "top-left middle burger";
  }
  #toggle-2:checked ~ .main-menu {
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    margin-block-start: 20px;
    margin: 15px;
    height: -moz-fit-content;
    height: fit-content;
    transition: none;
    z-index: auto;
    transition: none;
    padding-top: 0;
    grid-area: middle;
  }
  .main-menu a,
  i {
    font-size: 1.4rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 10px;
    color: #404347;
  }
  .left-menu {
    flex-direction: row;
  }
  .right-menu {
    flex-direction: row;
    vertical-align: top;
  }
  .menu-icons,
  .item {
    padding-top: 0;
    padding-bottom: 0;
  }
  .signup,
  .signin {
    padding-top: 0.2rem;
  }
  .title::before {
    content: "Loving Pet Care in Your Neighbourhood™";
    font-family: "Bogart", "Avenir", "Helvetica Neue", "Helvetica", "Arial";
    font-size: 4rem;
    color: #fff;
  }
  .subtitle::before {
    content: "Book trusted sitters and dog walkers.";
    font-size: 3.1rem;
    color: #fff;
  }
  .hero {
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
  }
  .hero-title-wrap {
    inline-size: 80vw;
    margin: auto;
    margin-block-start: 100px;
    line-height: 0;
  }
  .hero .action-button {
    display: none;
  }
}
@media (max-width: 769px) {
  .main-menu {
    border-top: 1px solid #cfd7de;
    border-bottom: 1px solid #cfd7de;
  }
  .main-menu a,
  i {
    font-size: 1.4rem;
    margin-left: 10px;
    padding-bottom: 15px;
  }
  .lang-wrap {
    margin-block-start: 8px;
    margin-right: 60px;
    padding-right: 5px;
    padding-top: 0;
    height: 40px;
    width: 120px;
  }
  .lang-wrap:active {
    border: 1px solid #eeeeee;
  }
  .lang-menu {
    top: 4px;
    left: -60px;
  }
  h2 {
    font-size: 2.2rem;
  }
  .title::before {
    content: "Book trusted, local pet sitters and walkers who will care for your dog or cat like you would. ";
  }
  .formContainer {
    display: none;
  }
  .hero {
    padding-block-start: 105px;
    margin-inline-start: 20px;
    margin-inline-end: 15px;
  }
  .hero .action-button {
    margin-top: 10px;
  }
  .services-wrap {
    display: flex;
    flex-direction: column;
  }
  .service-cards {
    width: 100%;
  }
  .services-notice {
    width: 100%;
  }
  .happy-clients {
    display: flex;
  }
  .card img {
    width: 38px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .notice {
    margin-block-start: 12px;
  }
  .testimonials {
    border-bottom: 1px solid #cfd7de;
  }
  .testimonials .quote-wrap {
    margin: 20px;
  }
  .testimonials blockquote {
    font-size: 2.2rem;
    margin-left: 0;
    margin-right: 0;
  }
  .testimonials cite {
    color: #000;
  }
  .deco-number {
    display: none;
  }
  .sitters {
    padding-block-start: 35px;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
  .sitters h2 {
    margin-inline-start: -5px;
  }
  .sitter-cards {
    flex-direction: column;
    margin-block-start: -60px;
  }
  .sitter-cards .card {
    flex-direction: row;
  }
  .sitter-cards .card-details {
    text-align: left;
  }
  .sitter-cards img {
    width: 40px;
    height: 40px;
    padding-bottom: 0;
    margin: 0;
  }
  .sitter-cards .relax img {
    width: 50px;
  }
  .deco-number {
    visibility: hidden;
  }
  .roverApp .roverimg {
    display: none;
  }
  .roverApp p {
    padding-top: 35px;
  }
  .roverApp .app-logo {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .roverApp .app-logo img {
    margin: auto;
  }
  .locations-wrap .UK ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 180px));
    grid-template-rows: repeat(6, max-content);
  }
  .locations-wrap .ROW ul {
    grid-template-columns: repeat(2, minmax(120px, 180px));
    grid-template-rows: repeat(6, max-content);
  }
  .locations-wrap .ROW .col-list-location {
    flex-wrap: wrap;
  }
  .locations-wrap .globe {
    margin: auto;
  }
  .footer .foot-wrap {
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer .rover-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  .footer .learn-more ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 300px));
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    justify-content: space-between;
  }
  .footer .about-rover ul {
    grid-template-columns: repeat(2, minmax(200px, 300px));
    grid-template-rows: repeat(5, max-content);
    justify-content: space-between;
  }
  .footer .need-help {
    display: none;
  }
  .footer .socials {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 3rem;
  }
  .footer .disclaimer {
    font-style: italic;
  }
  .footer .social-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2px;
  }
  .footer .footnote {
    text-align: center;
    margin: auto;
    line-height: 2.4rem;
  }
  .footer #line2::before {
    content: "\a";
    white-space: pre;
  }
}/*# sourceMappingURL=styles.css.map */